<div>
  <div>
    <Input @value={{this.email}} placeholder="Enter Your Name"/>
  </div>
  <div>
    <Input @value={{this.password}} type='password' placeholder="Enter Your Password"/>
  </div>
  {{!-- <div>
    <Input @value={{this.passRepeat}} placeholder="Repeat Your Password"/>
  </div> --}}
  <div>
    <button {{action "createUser"}}>Submit</button>
  </div>
</div>