<div>
  <div>
    <Input @value={{this.name}} placeholder="Enter Your Name"/>
  </div>
  <div>
    <Input @value={{this.pass}} placeholder="Enter Your Password"/>
  </div>
  <div>
    <Input @value={{this.passRepeat}} placeholder="Repeat Your Password"/>
  </div>
  <div>
    <button {{action "createUser"}}>Submit</button>
  </div>
</div>