<div>
  <div>
    <Input @value={{this.name}} placeholder="Enter Your Name"/>
  </div>
  <div>
    <Input @value={{this.pass}} placeholder="Enter Your Password"/>
  </div>
  <div>
    <button {{action "accessToProfile"}}>Log In</button>
  </div>
</div>